<h1>Stupid Coaching</h1>

<div class="main-container">
  <form action="/answer" method="get">
    <input type="text" id="form" name="answer" placeholder="Ask your coach anything">
    <input type="submit" id="btn" value="Ask!">
  </form>
</div>
